 <div ng-controller="MainController"> 
    <!-- LOADER START -->
    <div ng-if="_loading"></div>
    <!-- LOADER END -->
    <div class="container-fluid" ng-if="_loading == false">
      <!-- HEADER START -->
      <header scroll-magic id="header">
        <div class="container">
          <div class="row">
            <div class="col-8 col-xs-12">
              <h1 class="wow slideInLeft" data-wow-delay="0s">
                {{_page_data.name}}
              </h1>
              <h3 class="wow slideInLeft" data-wow-delay=".2s">
                {{_page_data.title}}
              </h3>
              <h3 class="wow slideInLeft" data-wow-delay=".30s">
                {{_page_data.contact.address}}
              </h3>
              <ul class="social-container">
                <li
                  ng-repeat="(key, value) in _page_data.contact.social track by $index"
                  class="wow fadeIn"
                  data-wow-delay="{{$index/2}}s"
                >
                  <a
                    ng-href="{{value}}"
                    ng-attr-title="{{key | uppercase}}"
                    ng-if="key && value"
                    ><i class="fab fa-linkedin-in" ng-if="key == 'linkedin'"></i
                    ><i class="far fa-envelope" ng-if="key == 'email'"></i>
                    <i class="fas fa-phone-alt" ng-if="key == 'phone'"></i
                    ><i class="fas fa-download" ng-if="key == 'resume'"></i
                  ></a>
                </li>
              </ul>
            </div>
            <div class="col-4 col-xs-12">
              <div class="align-right">
                <div class="thumb-container wow fadeIn" data-wow-delay="1s">
                  <div class="thumb"  ng-style="{'background-image':'url({{_page_data.picture}})'}"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- HEADER END -->
      <!-- ABOUT START -->
      <section id="about" class="wow fadeIn" data-wow-delay=".1s" data-wow-duration="2s">
        <div class="container">
          <h4 >ABOUT</h4>
          <div ng-bind-html="sanitizeHTML(_page_data.about)"  class="about-content"></div>
        </div>
      </section>
      <!-- ABOUT END -->
      <!-- SKILLS START -->
      <section id="skills" class="wow fadeIn" data-wow-delay=".1s" data-wow-duration="2s">
        <div class="container">
          <h4>TECHNICAL SKILLS</h4>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3">
            <div class="col" ng-repeat="skill in _page_data.skills">
              <div class="skill-container" ng-if="skill.value && skill.primary">
                <div class="skill-detail">
                  <div class="skill-name">{{skill.name}}</div>
                  <div class="skill-value">{{skill.value}}%</div>
                </div>
                <div class="skill-bar-container">
                  <div
                    class="skill-bar wow"
                    ng-style="{width: skill.value + '%'}"
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <h5>OTHER SKILLS</h5>
          <div class="skill-set">
            <span
              class="skill-tag"
              ng-repeat="skill in _page_data.skills"
              ng-if="!skill.primary"
              >{{skill.name}}</span
            >
          </div>
        </div>
      </section>
      <!-- SKILLS END -->
      <!-- EXPERIENCE START -->
      <section id="experience" class="wow fadeIn" data-wow-delay=".1s" data-wow-duration="2s">
        <div class="container">
          <h4>EDUCATION & WORK EXPERIENCE</h4>
          <div class="timeline wow slideInDown" ng-repeat="exp in _page_data.experience track by $index" data-wow-delay="{{$index/2}}s">
            <div class="row">
              <div class="col-2"><div class="timeline-ln"></div></div>
              <div class="col-10">
                <div class="row">
                  <div class="col-sm-12 col-md-4">
                    <div>{{exp.title}}</div>
                    <div>{{exp.start}}-{{exp.end}}</div>
                  </div>
                  <div class="col-sm-12 col-md-8">
                    <div class="text-strong">{{exp.client | uppercase}}</div>
                    <div class="text-small">{{exp.location | uppercase}}</div>
                    <div ng-bind-html="sanitizeHTML(exp.information)"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- EXPERIENCE END -->
      <!-- PORTFOLIO START -->
      <section id="portfolio" class="wow fadeIn" data-wow-delay=".1s" data-wow-duration="2s">
                <div class="container">
          <h4>PORTFOLIO</h4>
          <div class="row"><div class="col-xs-12"><center>SECTION UNDER PROGRESS</center></div></div>
          <!-- <div class="row gallery">
            <div
              class="col-xs-12 col-sm-6 col-md-4 col-lg-3 gallery-item wow fadeIn"
              ng-repeat="project in _page_data.portfolio track by $index"
              data-wow-delay="{{$index/2}}s"
            >
              <a ng-href="#!/project/{{project.index}}" class="btn-link">
                <figure>
                  <img
                    ng-src="{{project.thumbnail}}"
                    alt="{{project.title}}"
                    width="100%"
                  />
                  <figcaption>{{project.title}}</figcaption>
                </figure>
              </a>
            </div> -->
          </div>
        </div>
      </section>

      <!-- PORTFOLIO END -->
    </div>
  </div>