<div id="project-details" >
  <div class="container-fluid wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">
    <section>
      <div class="container">
        <div class="row">
          <div class="col-8 col-xs-12">
            <!-- PROJECT TITLE -->
            <h3>{{project.title}}</h3>
          </div>
          <div class="col-4 col-xs-12">
            <div class="align-right">
              <a class="btn-link text-light close-btn" ng-href="./"
                ><i class="fas fa-times"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <!-- PROJECT BASIC START -->
          <div class="col-lg-8 col-xs-12">
            <p>{{project.description}}</p>
            <div class="skill-set">
              <h4>SKILLS INVOLVED</h4>
              <span class="skill-tag" ng-repeat="skill in project.skills"
                >{{skill.name}}</span
              >
            </div>
          </div>
          <div class="col-lg-4 col-xs-12">
            <figure class="title-thumb">
              <img ng-src="{{project.thumbnail}}" alt="{{project.title}}" />
            </figure>
          </div>
          <!-- PROJECT BASIC END -->
        </div>
      </div>
    </section>
    <section>
      <div class="row justify-content-center" ng-show="project.information">
        <!-- DESCRIPTION START -->
        <div class="col-10">
          <h4>PROJECT DETAILS</h4>
          <div ng-bind-html="sanitizeHTML(project.information)"></div>
        </div>
        <!-- DESCRIPTION END -->
      </div>
    </section>
  </div>
</div>
