/*******************************
********** FONT ****************
*******************************/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

/*******************************
********** BASE ****************
*******************************/
body {
  background-color: #303133;
  color: #d9d9d9;
  line-height: 1.6em;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  letter-spacing: 0.05em;
  font-size: 0.85em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #c19f7e;
  font-weight: 400;
  text-transform: uppercase;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
figure {
  margin: 0px;
  display: block;
}
ul {
  margin-left: 15px;
  list-style-type: circle;
}
/*******************************
********** TEXT **************
*******************************/
.text-light {
  color: #d9d9d9;
}
a {
  color: #c19f7e;
}
.text-small {
  font-size: 80%;
}
.text-strong {
  font-weight: 400;
}
strong{
  font-weight: 800;
}
/*******************************
********** MISC **************
*******************************/
.btn-link {
  cursor: pointer;
}
/*******************************
********** HEADER **************
*******************************/
header h1 {
  margin: 0px;
  line-height: 1.6em;
  color: #d9d9d9;
  font-size: 2em;
  font-weight: bold;
}
header h3 {
  margin: 0px;
  line-height: 1.4em;
  color: #d9d9d9;
  font-size: 0.85em;
  font-weight: 300;
}
.thumb-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 75px;
}
.thumb-container .thumb {
  width: 100%;
  height: 100%;
  /*background-image: url('https://images.unsplash.com/photo-1522775417749-29284fb89f43?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80');*/
  background-size: cover;
}
.social-container {
  margin: 0px;
  padding: 0px;
}
.social-container li {
  display: inline-block;
  margin-top: 20px;
  margin-right: 24px;
}
.social-container li a {
  color: #ffffff;
  font-size: 1.2em;
  line-height: 32px;
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: center;
  border-radius: 16px;
  background-color: #c19f7e;
  transition: background-color 0.25s ease;
}
.social-container li a:hover {
  background-color: rgb(136, 111, 85);
  opacity: 0.75;
}
/*******************************
********** SECTION **************
*******************************/
section,
header {
  padding: 20px 0px;
  border-bottom: #393a3c 1px solid;
}
section h4,
section h5,
section h3 {
  letter-spacing: 0.25em;
  line-height: 3em;
  margin: 10px 0px;
}
section .about-content::first-letter{
  font-size: 2em;
  font-weight: 800;
}

/*******************************
********** EXPERIENCE **************
*******************************/
.timeline {
  padding: 15px 0px;
  position: relative;
  opacity: 0.25;
  transition: opacity 0.5s ease;
}
@media(max-width: 800px){
  .timeline {
    opacity: 1;
  }
}
.timeline:hover {
  opacity: 1;
}
.timeline-ln {
  width: 1px;
  height: 100%;
  display: inline-block;
  background-color: #6d5945;
  position: absolute;
}
.timeline-ln:before {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background-color: #886f55;
  box-shadow: 0px 0px 5px #8b7259;
  display: inline-block;
  position: relative;
  left: -6px;
  top: -6px;
}

/*******************************
********** SKILLS **************
*******************************/
.skill-detail {
  clear: both;
  line-height: 2em;
}
.skill-detail .skill-name {
  float: left;
}
.skill-detail .skill-value {
  float: right;
}
.skill-bar-container {
  clear: both;
  padding: 2px;
  border: 1px solid #886f55;
  display: block;
  width: 100%;
  margin: 15px 0px;
}
.skill-bar {
  background-color: #886f55;
  height: 2px;
  animation: 2s ease-in 0s slidein;
}

.skill-set {
  margin: 15px 0px;
}
.skill-tag {
  display: inline-block;
  padding: 4px 8px;
  line-height: 1.5em;
  background-color: #886f55;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 0.8em;
  border-radius: 16px;
}

/*******************************
********** PORTFOLIO ************
*******************************/

/** GALLERY **/
#portfolio .gallery-item {
  padding: 15px;
}
#portfolio .gallery-item a {
  color: #fff;
}
#portfolio .gallery-item figure {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.25s ease;
}

#portfolio .gallery-item figcaption {
  background-color: #886f55;
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
  padding: 5px 0px;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 300;
  transition: padding 0.25s ease;
}
#portfolio .gallery-item a:hover figure {
  transform: scale(1.08);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
#portfolio .gallery-item a:hover figcaption {
  padding-top: 12px;
}

/*******************************
******** PROJECT DETAILS ******
*******************************/
#project-details {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #303133;
}
#project-details > div {
  position: relative;
}

#project-details .close-btn {
  font-size: 2.4em;
}
@media (max-width: 991.98px) {
  #project-details .title-thumb {
    display: none;
  }
}
#project-details figure img {
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}

/*****************************
********KEYFRAMES*************
*****************************/
@keyframes slidein {
  from {
    width: 0;
  }
  to {
    transform: scaleX(1);
  }
}
